@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation de la police Bebas Neue avec différents formats */
@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('/fonts/BebasNeue-Regular.woff') format('woff'),
       url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}


/* Définition des couleurs */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #222222;
  }
}

/* Appliquer Bebas Neue à tout le texte */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

/* Utilitaire text-balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Soulignement animé */
.hover-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #007bff; /* Bleu équivalent au hover */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a {
  position: relative;
}

/*SECTION CUSTOMISATION CONSOLE*/
.dark-title-font{
  color: #222222;
}

.dark-subTitle-font{
  color: #5b5b5b;
}

.light-title-font{
  color: #ffffff;
}

.light-subTitle-font{
  color: #c8c8c8;
}
#gameboy-color {
  background-color: transparent;
  background-image: linear-gradient(333deg, #F5F5F5 30%, #D8EBFF 100%);
}

#gameboy-advance {
  background-color: transparent;
  background-image: linear-gradient(149deg, #121212 13%, #003523 100%);
}

#advance-sp {
  background-color: transparent;
  background-image: linear-gradient(198deg, #121212 11%, #18003A 100%);
}

#gameboy-dmg {
  background-color: transparent;
  background-image: linear-gradient(316deg, #F3F3F3 30%, #FFEEE4 100%);
}