/* Wrapper for the two images */
.wrapper {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  
  /* Image container */
  .image-container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container:hover {
    transform: scale(1.20); /* Agrandir légèrement au survol */
  }
  
  /* Left image diagonal cut */
  .left-image {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%); /* Diagonale */
  }
  
  /* Right image diagonal cut */
  .right-image {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%); /* Diagonale */
  }
  
  
  /* Image */
  .split-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: -200px; 
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Réduit l'espace entre le sous-titre et le titre */
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 10px; /* Réduit l'espace entre le titre et le bouton */
  }
  
  .black-text {
    color: black;
  }
  
  .white-text {
    color: white;
  }
  
  .blue-btn {
    margin-top: 5px; 
    padding: 12px 24px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .blue-btn:hover {
    background-color: #004bcc;
  }
  